<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createMember</servlet-name>
        <servlet-class>controller.createMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkLogin</servlet-name>
        <servlet-class>controller.checkLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>controller.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPosts</servlet-name>
        <servlet-class>controller.showPostsMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPostsViewer</servlet-name>
        <servlet-class>controller.showPostsViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTag</servlet-name>
        <servlet-class>controller.createTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showTags</servlet-name>
        <servlet-class>controller.showTagsMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showTagsViewer</servlet-name>
        <servlet-class>controller.showTagsViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSettings</servlet-name>
        <servlet-class>controller.updateSettings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createMember</servlet-name>
        <url-pattern>/createMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPosts</servlet-name>
        <url-pattern>/showPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPostsViewer</servlet-name>
        <url-pattern>/showPostsViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTag</servlet-name>
        <url-pattern>/createTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showTags</servlet-name>
        <url-pattern>/showTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showTagsViewer</servlet-name>
        <url-pattern>/showTagsViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSettings</servlet-name>
        <url-pattern>/updateSettings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
